<div class="modal fade" id="myModal{{record.id}}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form method="POST" action="{%if record %}{{record.url.edit}}{% else %}{{entity.url.edit}}{% endif %}" class="post-form">{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{%if record %}Editar {{record}}{% else %}Añadir {{entity}}{% endif %}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {%if record %}
                    {{record.form.as_p}}
                    {% else %}
                    {{entity.form.as_p}}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {%if record %}
                        {% if entity.auth.delete == True %}
                    <button type="submit" name="delete{{entity.name}}" class="btn btn-outline-dark"><span class="fa-solid fa-trash-can"></span>   Borrar</button>
                        {% endif %}
                        {% if entity.auth.change == True %}
                    <button type="submit" name="update{{entity.name}}" class="btn btn-outline-dark"><span class="fa-solid fa-floppy-disk"></span>    Guardar</button>
                        {% endif %}
                    {% else %}
                        {% if entity.auth.add == True %}
                    <button type="submit" name="update{{entity.name}}" class="btn btn-outline-dark"><span class="fa-solid fa-floppy-disk"></span>    Guardar</button>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-outline-dark" class="btn-close" data-bs-dismiss="modal"><span class="fa-solid fa-rectangle-xmark"></span>    Salir</button>
                </div>        
            </form>
        </div>
    </div>
</div>