
<!-- modal_form.html -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{entity.url.edit}}" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" name="save" class="btn btn-outline-success"><span class="fa-solid fa-floppy-disk"></span> Guardar</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"><span class="fa-solid fa-rectangle-xmark"></span>    Salir</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>        
        </div>
    </div>
</div>

