<div class="modal fade" id="miModal{{record.id}}" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form method="POST" action="{%if record %}{{record.editUrl}}{% else %}{{entity.url.edit}}{% endif %}" class="post-form">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">{%if record %}Editar {{record}}{% else %}Añadir {{entity}}{% endif %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{form.as_p}}
                </div>
                <div class="modal-footer">
                    {%if record %}{% if entity.auth.delete == True %}
                    <button type="submit" name="delete{{entity.name}}" class="btn btn-outline-danger"><span class="fa-solid fa-trash-can"></span> Borrar</button>
                    {% endif %}{% endif %}
                    {% if entity.auth.add == True or entity.auth.change == True %}
                    <button type="submit" name="update{{entity.name}}" class="btn btn-outline-primary"><span class="fa-solid fa-floppy-disk"></span> Guardar</button>
                    {% endif %}
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><span class="fa-solid fa-rectangle-xmark"></span>    Salir</button>
                </div>        
            </form>
        </div>
    </div>
</div>