<!doctype html>
{% load static %}
<html lang="es">
<head>
	<meta name=”author” content=”Gonson”>
	<meta name=”description” content=”{{member.company.name}} Web Site”>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>
		{% block title %}{% endblock %}
	</title>

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'bootstrap/icons/bootstrap-icons.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	<link href="{% static 'css/mycss.css' %}" type="text/css" rel="stylesheet">
	
	{% block href %}{% endblock %}

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'fontawesome/js/all.min.js' %}"></script>

	{% block src %}{% endblock %}

<style>
body {
  font-family: serif;
}
</style>

</head>

<body 
{%if site.backgroundColor%} style="background-color:{{site.backgroundColor.value}}"{% else %}
{%if session.member.company.site.backgroundColor%} style="background-color:{{session.member.company.site.backgroundColor.value}}"{% endif %}{% endif %}
>

	{% block header %}{% endblock %}
	{% block main %}{% endblock %}
	{% block footer %}{% endblock %}

<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
</script>

{% block script %}{% endblock %}

</body>
</html>