<!doctype html>
{% load static %}
<html lang="es">
<head>
	<meta name=”author” content=”Gonson”>
	<meta name=”description” content=”Estructura del sitio web”>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>
		{% block title %}{% endblock %}
	</title>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/mycss.css' %}" type="text/css" rel="stylesheet">

	{% block href %}{% endblock %}
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

	<style>

	</style>
</head>

<body style="background-color: #ead4ea;">

	<header>
	{% block header %}{% endblock %}
	</header>

	<main>
	{% block main %}{% endblock %}
	</main>

	<footer>
	{% block footer %}{% endblock %}
	</footer>
	
	{% block script %}{% endblock %}

</body>
</html>