{% load static %}
<footer class="footer mt-auto py-3 bg-body-tertiary"> 
	<nav class="navbar navbar-expand-lg fixed-bottom" style="background-color:{{site.footerColor.value}}">
	  <div class="container-fluid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myFooter">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="myFooter">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="instagram_text" target="_blank"><span class="fa fa-instagram"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="facebook_text"  target="_blank"><span class="fa fa-facebook-f"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="twitter_text"   target="_blank"><span class="fa fa-twitter"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="twitter_text"   target="_blank"><span class="fa-brands fa-x-twitter"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="www.google.es" data-toggle="tooltip" data-placement="top" title="google_text"    target="_blank"><img src="{% static 'bootstrap/icons/google.svg' %}"></a></li>
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="youtube_text"   target="_blank"><span class="fa fa-youtube"></span></a></li>
				<li class="nav-item"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="sendmail_text"  target="_blank"><span id="social-gp" class="fa fa-envelope"></span></a></li>
			</ul>
			<ul class="navbar-nav mx-auto">
				<li class="nav-item"><a class="nav-link" href="#"  data-toggle="tooltip" data-placement="top" title="STATIC_URL"  target="_blank"><span class="fa fa-copyright"></span>{{TIME_ZONE}}</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="mailto:gonson@hotmail.com"  data-toggle="tooltip" data-placement="top" title="Contacta con el diseñador"  target="_blank"><img src="{% static 'bootstrap/icons/c-square.svg' %}">  Designed by Gonson</a></li>
			</ul>
		</div>
      </div>
	</nav>
</footer>