{% extends '../base.html' %}
{% load static %}

{% block header %}
<div class="container-fluid">
{% include './header.html' %}
</div>
{% endblock %}

{% block navbar %}
<div class="container-fluid">
{% include './navbar.html' %}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row content">
        <div class="col-xl-2  sidenav">
        </div>
        <div class="col-xl-10 sidenav">
            {% block detail %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid">
{% include '../footer.html' %}
</div>
{% endblock %}