{% extends './base.html' %}

{% block title %}
    {% for section in Sections %}
        {% if section.current == True %}
            {{Site.company.name}} - {{section.description}}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block detail %}
    <p>Site: {{Site.company.id}}</p>
    <p>idSection: {{idSection}}</p>
    {% for section in Sections %}
        <p>Section {{section.id}}: {{section.name}} Current: {{section.current}}</p>
        <p>{{section.url}}</p>
    {% endfor %}

{% endblock %}