{% extends '../base.html' %}
{% load static %}

{% block header %}
<div id="header" class="container-fluid">
{% include './navbar.html' %}
</div>
{% endblock %}

{% block main %}
<div id="main" class="container-fluid" style="margin-top:70px; margin-bottom:70px; margin-left:3px; margin-right:3px;">
    {% if session.errors %}
    <div class="error">
        {% for error in session.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert"><span class="fa-solid fa-triangle-exclamation"></span>
            {{ error }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <hr>
    </div>
    {% endif %}

    <div class="row content container-fluid">
        {% include './menu.html' %}
        <div class="col-xl-11 sidenav" style="margin-top:5px; margin-bottom:5px; margin-left:5px; margin-right:5px;">
<!--        <div class="col-xl-12 sidenav"  style="border: 1px solid #240224;"> -->
            <div id="control">
            {% block control %}
            {% endblock %}
            </div>
            <div id="detail">
            {% block detail %}
            {% endblock %}
            </div>
        </div>
    </div>
    {% block modal %}
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id="footer" class="container-fluid">
{% include './footer.html' %}
</div>
{% endblock %}