{% extends '../base.html' %}
{% load static %}

{% block navbar %}
<div class="container-fluid">
{% include './navbar.html' %}
{% endblock %}
</div>

{% block content %}
<div class="container-fluid">
    <div class="row content">
        <div class="col-xl-2  sidenav">
            {% include './menu.html' %}
        </div>
        <div class="col-xl-10 sidenav">
            {% include './control.html' %}
            {% block detail %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid">
{% include '../footer.html' %}
</div>
{% endblock %}