{% extends './base.html' %}

{% block title %}This is My TITLE!{% endblock %}

{% block detail %}
    <h2><a href="">PRUEBA DE CSS</a></h2>
    <p>Hi theres!</p>
    <p>It works!</p>
    <p>This is My PRIVATE Home!</p>
    <p>STATIC_URL: {{STATIC_URL}}</p>
    <p>STATIC_ROOT: {{STATIC_ROOT}}</p>
    <p>STATICFILES_DIRS: {{STATICFILES_DIRS}}</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
    <p>It works!</p>
{% endblock %}

{% block right %}
    <p>This is My RIGHT Side!</p>
{% endblock %}

