
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="background-color:{{ session.member.company.site.backgroundColor.value }}">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><span class="fa-solid fa-sitemap"></span> Menú de {{session.member.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
    {% for item1 in session.member.company.site.menu.itemList %}
        {% if item1.child.itemList %}
        <li class="nav-item">
            <button class="btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#{{item1.child.name}}-collapse">
                <span class="{{item1.child.icon.value}} text-primary"></span>    {{item1.child.label}}
            </button>
            <div class="collapse show" id="{{item1.child.name}}-collapse">
                <ul class="btn-toggle-nav" style="list-style-type: none;">
            {% for item2 in item1.child.itemList %}
                {% if item2.child.itemList %}
                <li class="nav-item">
                    <button class="btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#{{item2.child.name}}-collapse">
                        <span class="{{item2.child.icon.value}} text-primary"></span>    {{item2.child.label}}
                    </button>
                    <div class="collapse show" id="{{item2.child.name}}-collapse">
                        <ul class="btn-toggle-nav" style="list-style-type: none;">
                    {% for item3 in item2.child.itemList %}
                        {% if item3.child.itemList %}
                        <li class="nav-item">
                            <button class="btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#{{item3.child.name}}-collapse">
                                <span class="{{item3.child.icon.value}} text-primary"></span>    {{item3.child.label}}
                            </button>
                            <div class="collapse show" id="{{item3.child.name}}-collapse">
                                <ul class="btn-toggle-nav" style="list-style-type: none;">
                            {% for item4 in item3.child.itemList %}
                                {% if item4.child.itemList %}
                                <li class="nav-item">
                                    <button class="btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#{{item4.child.name}}-collapse">
                                        <span class="{{item4.child.icon.value}} text-primary"></span>    {{item4.child.label}}
                                    </button>
                                    <div class="collapse show" id="{{item4.child.name}}-collapse">
                                        <ul class="btn-toggle-nav" style="list-style-type: none;">
                                    {% for item5 in item4.child.itemList %}
                                        <li><a href="{{item5.url}}" class="link-body-emphasis text-decoration-none"><span class="{{item5.child.icon.value}} text-info"></span>   {{item5.child.label}}</a></li>
                                    {% endfor %}
                                {% else %}
                                            <li><a href="{{item4.url}}" class="link-body-emphasis text-decoration-none"><span class="{{item4.child.icon.value}} text-info"></span>   {{item4.child.label}}</a></li>
                                {% endif %}
                                {% if item4.child.itemList %}
                                        </ul>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                                    <li><a href="{{item3.url}}" class="link-body-emphasis text-decoration-none"><span class="{{item3.child.icon.value}} text-info"></span>   {{item3.child.label}}</a></li>
                        {% endif %}
                        {% if item3.child.itemList %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                            <li><a href="{{item2.url}}" class="link-body-emphasis text-decoration-none"><span class="{{item2.child.icon.value}} text-info"></span>   {{item2.child.label}}</a></li>
                {% endif %}
                {% if item2.child.itemList %}
                        </ul>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        {% else %}
                <li><a href="{{item1.url}}" class="link-body-emphasis text-decoration-none"><span class="{{item1.child.icon.value}} text-info"></span>    {{item1.child.label}}</a></li>
        {% endif %}
        {% if item1.child.itemList %}
                </ul>
            </div>
        </li>
        {% endif %}
    {% endfor %}

    <li class="nav-item"> 
                <button class="btn btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#web-collapse">
                    <span class="fa-brands fa-youtube"></span> Test
                    <span class="actions">
                        <a href="/private"><i class="fa-solid fa-pencil text-success" title="Añadir menú item"></i></a>
                        <i class="fa-solid fa-pen-to-square text-info" title="Modificar menú item" href="/private"></i>
                        <i class="fa-solid fa-trash-can text-danger" title="Suprimir menú item"></i>
                        <i class="fa-solid fa-magnifying-glass" title="Consultar menú item"></i>
                    </span>
                </button>
                <div class="collapse show" id="web-collapse">
                    <ul class="btn-toggle-nav">
                        <li><a href="#"
                                class="link-body-emphasis text-decoration-none"><span class="fa-solid fa-sitemap"></span>   Sitios Web</a>
                        </li>
                        <li><a href="#"
                                class="link-body-emphasis text-decoration-none"><span class="fa-solid fa-section"></span>   Secciones</a>
                        </li>
                        <li><a href="{{URL}}"
                                class="link-body-emphasis text-decoration-none"><span class="fa-solid fa-palette"></span>   Colores</a>
                            <span class="actions">
                                <a href="/private"><i class="fa-solid fa-plus text-success" title="Añadir menú item"></i></a>
                                <a href="/"><i class="fa-solid fa-pen-to-square text-info" title="Modificar menú item"></i></a>
                                <i class="fa-solid fa-trash-can text-danger" title="Suprimir menú item"></i>
                                <i class="fa-solid fa-magnifying-glass" title="Consultar menú item"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>