<div class="modal fade" id="myModalSelect{{entity.name}}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: {{session.member.company.site.windowColor.value}}">
            <div class="table-responsive">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Seleccionar {{entity.label}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table data-toggle="table" data-locale="es-ES" 
                        data-search="true"
                        data-show-pagination-switch="true"
                        data-pagination="true"
                        data-page-size="25"
                        data-page-list="[25, 50, 100, 200, all]"
                        data-resizable="true"
                        data-sticky-header="true"
                        data-sticky-header-offset-y="55"
                    >
                        <thead class="table-secondary">
                            <th data-field="Option">Sel</th>
                            <th data-sortable="true">{{entity.label}}</th>
                        </thead>
                        <tbody>
                            {% if entity.auth.view == True %}
                            {% for record in entity.records %}
                            <tr>
                                <td class="text-nowrap" style="width:50px;">
                                    <a class="btn btn-outline-success btn-sm" role="button" href="{{record.url}}"><i class="fas fa-check"></i></a>
                                </td>
                                <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>  
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"><span class="fa-solid fa-rectangle-xmark"></span>    Salir</button>
                </div>        
            </div>
        </div>
    </div>
</div>
