<!-- Custom Navbar for this template -->
{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" style="background-color:{{session.member.company.site.navbarColor.value}}">
	<div class="container-fluid">
		<button class="btn btn-outline-dark btn-sm" type="button" data-toggle="tooltip" data-placement="right" title="Menú de {{session.member.name}}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
			<span class="fa-solid fa-bars"></span>
		</button>
		<a class="navbar-brand" href="#" style="color:black;" title="{{session.member.company.name}}">
			<img style="max-width:40px; margin-left: 20px;" src="{% static 'images/ColegioDeMedicos.png' %}" alt="Escudo">
				{{session.member.company.name}}   {{session.member}}
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<button class="btn btn-outline-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="fa-solid fa-heart"></span>
						Favoritos
					</button>
					<ul class="dropdown-menu" style="background-color:{{session.member.company.site.backgroundColor.value}}">
						{% for item in session.menuList %}{% if item.hasPerm == True %}
						<li><a class="dropdown-item" href="{{item.url}}"><span class="{{item.icon.value}}"></span>	{{ item.label }}</a></li>
						{% endif %}{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
