<!-- Custom Navbar for this template -->
{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" style="background-color:{{site.navbarColor.value}}{{session.member.company.site.navbarColor.value}}">
	<div class="container-fluid">
		<ul class="navbar-nav mr-auto">
			{% if session.member.company.site.menu %}
			<button class="btn btn-outline-dark" type="button" data-toggle="tooltip" data-placement="right" title="Menú de {{session.member.name}}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
				<span class="fa-solid fa-bars"></span>
			</button>
			{%endif%}
			<a class="navbar-brand" href="/" title="{{session.member.company.name}}">
				<img style="max-width:40px; margin-left: 20px;" src="{% static 'images/ColegioDeMedicos.png' %}" alt="Escudo">
				{{site.company.name}}{{session.member.company.name}}
			</a>
		</ul>
		<ul class="navbar-nav mx-auto">
		{% if session.menuList %}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<button class="btn btn-outline-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="fa-solid fa-heart"></span>
						Favoritos
					</button>
					<ul class="dropdown-menu" style="background-color:{{session.member.company.site.windowColor.value}}">
						{% for item in session.menuList %}{% if item.hasPerm == True %}
						<li><a class="dropdown-item" href="{{item.url}}"><span class="{{item.icon.value}}"></span>	{{ item.label }}</a></li>
						{% endif %}{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		</ul>
		<ul class="navbar-nav ml-auto">
			<a class="navbar-brand" href="/private/" title="Página principal de {{session.member.user.first_name}} {{session.member.user.last_name}}">
				{{session.member.user.first_name}} {{session.member.user.last_name}}
				<img style="max-width:40px; margin-left: 20px;" src="{% static 'images/ColegioDeMedicos.png' %}" alt="Escudo">
			</a>
		</ul>
		{%endif%}
	</div>
</nav>
